@model TableTennisChampionshipMain.ViewModels.TournamentPlayerInfo


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TournamentPlayerInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        @*<div class="form-group">
            @Html.LabelFor(model => model.TournamentPlayerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TournamentPlayerID)
                @Html.ValidationMessageFor(model => model.TournamentPlayerID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TournamentID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TournamentID)
                @Html.ValidationMessageFor(model => model.TournamentID)
            </div>
        </div>*@

        @*<div class="form-group">
            @Html.LabelFor(model => model.PlayerID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerID)
                @Html.ValidationMessageFor(model => model.PlayerID)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.PlayerFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlayerFullName)
                @Html.ValidationMessageFor(model => model.PlayerFullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Rank, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Rank,(SelectList)ViewBag.Ranks)
                @Html.ValidationMessageFor(model => model.Rank)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PointsForGames, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PointsForGames)
                @Html.ValidationMessageFor(model => model.PointsForGames)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PointsForTournaments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PointsForTournaments)
                @Html.ValidationMessageFor(model => model.PointsForTournaments)
            </div>
        </div><div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
