@model TableTennisChampionshipMain.ViewModels.TournamentInfo

@{
    ViewBag.Title = "Create";
}

<h2>Нов турнир</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TournamentInfo</h4>
        <hr />
        @Html.ValidationSummary(true)
        

        <div class="form-group">
            @Html.LabelFor(model => model.TournamentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TournamentName)
                @Html.ValidationMessageFor(model => model.TournamentName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate )
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TournamentTypeDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TournamentTypeDesc)
                @Html.ValidationMessageFor(model => model.TournamentTypeDesc)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvanceGroupDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceGroupDesc)
                @Html.ValidationMessageFor(model => model.AdvanceGroupDesc)
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.TournamentTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.TournamentTypeID, (SelectList)ViewBag.TournamentType)
                @Html.ValidationMessageFor(model => model.TournamentTypeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvanceGroupCriteriaID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AdvanceGroupCriteriaID, (SelectList)ViewBag.AdvanceCriteria)
                @Html.ValidationMessageFor(model => model.AdvanceGroupCriteriaID)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.WinnerFullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WinnerFullName)
                @Html.ValidationMessageFor(model => model.WinnerFullName)
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
