@model TableTennisChampionshipMain.ViewModels.PlayerInfo

<div>
    @if (ViewBag.UserID==null)
    { 
        <span>
            @Html.RadioButtonFor(model=> model.PlayerID,"false","rbtSelectPlayer")
        </span>
    }
       
        <span>
            @Html.DisplayFor(model => model.FirstName)
        </span>
        <span>
            @Html.DisplayFor(model => model.LastName)
        </span>
    <span>
        <img class="ProfilPicture" src="@Model.ImageUrl" />
    </span>
</div>

@*<option value="@Model.PlayerID">
    @Html.DisplayFor(model => model.FirstName) &nbsp;  @Html.DisplayFor(model => model.LastName)
</option>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
