@model  TableTennisChampionshipMain.ViewModels.PlayerInfo
        <span class="FixSpan">
            @Html.DisplayFor(model => model.FirstName)
        </span>
        <span class="FixSpan">
            @Html.DisplayFor(model=> model.LastName)
        </span>
    <span>
        <img class="ProfilPicture" src="@Model.ImageUrl" />
    </span>
@*<option value="@Model.PlayerID">
    @Html.DisplayFor(model => model.FirstName) &nbsp;  @Html.DisplayFor(model => model.LastName)
</option>*@
@*<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
